
.circle {
    background: black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.square {
    background: black;
    width: 150px;
    height: 400px;
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.rectangle {
    background: black;
    width: 30px;
    height: 200px;
}

.trafficLight {
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.light{
    box-shadow: 0 0 80px rgb(255, 208, 0);
}
